/*
    This stylesheet contains styles that are specific to the homepage.
*/

#homepage-title{
    height:90vh;
    background-image:url("Images/Backgrounds/pexels-jose-maria-sevillano-serrano-12287227.jpg"); /* TODO: cite this*/
    background-size:cover;
    background-position-x:center;
    background-position-y:50%;
    background-attachment:fixed;
}
#homepage-title-film{
    background-color:HSLA(0,0%,0%,0.75);
    height:100%;
    display:grid;
    grid-template-areas:
        "navigation"
        "page-title";
}

#page-title-container{
    grid-area:page-title;
    display:flex;
    /* justify-content:center;
    vertical-align:middle; */
}
#title-subtitle{
    margin:auto;
    display:inline-block;
}
#website-title{
    font-size:120px;
    text-align:center;
    text-shadow:0px 3px 8px #000000;
}
#page-subtitle{
    color:hsl(326, 7%, 63%);
    font-family:--Caption-Font;
    display:block;
    width:100%;
    text-align:center;
    font-size:21px;
}

#homepage-midsection{
    min-height:105vh;
    background-color:var(--midsection-background-color);
    padding:100px 0px;
}
.homepage-submidsection{
    padding:0px var(--page-horizontal-padding) var(--page-horizontal-padding);
}
.homepage-submidsection:first-of-type{
    padding-top:var(--page-horizontal-padding);
}
.homepage-submidsection h2{
    text-align:center;
    font-size:var(--h2-font-size);
    font-weight:500;
}
.homepage-submidsection:first-of-type h2{
    padding:1em 1em 0.5em;
}

#homepage-options-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.homepage-option{
    border:2px solid var(--black);
    border-radius: 0.5em;
    padding:1em;
    display:grid;
    grid-template-areas:
        "icon"
        "label";
    grid-template-rows:auto 1em;
}
.homepage-option-icon{
    aspect-ratio:1;
    border:1px solid var(--black);
    border-radius:50%;
}
.homepage-option-label{
    text-align:center;
}

blockquote{
    display:grid;
    grid-template-areas:
        "title      title  corner-tr"
        "left-quote quote  right-quote"
        "corner-bl  quotee quotee";
    grid-row-gap:10px;
    margin:0 auto;
}
blockquote .quote-title{
    /* font-weight:300; */
    grid-area:title;
    font-size:18px;
}
blockquote .quote{
    font-size:33px;
    text-align:center;
    grid-area:quote;
    font-weight:300;
}
blockquote .quotee{
    text-transform:uppercase;
    grid-area:quotee;
    text-align:right;
    font-weight:300;
}
blockquote .quotation-mark{
    background-size:32px;
    background-repeat:no-repeat;
    opacity:0.2;
}
blockquote .left-quotation-mark{
    grid-area:left-quote;
    background-image:url("Images/Other/left-quote.png");
}
blockquote .right-quotation-mark{
    grid-area:right-quote;
    background-image:url("Images/Other/right-quote.png");
    background-position:bottom;
}


/* Phone */
/* 320px is the minimum width that needs to be supported */
@media screen and (max-width:480px){
    
    
    blockquote{
        width:75%;
        grid-template-columns: 32px auto 32px;
    }
    blockquote .quotation-mark{
        background-size: 24px;
    }
    blockquote .quote{
        font-size:24px;
    }
}


/* Tablet */
@media screen and (min-width:480px) and (max-width:1024px){
    #homepage-title-film{
        grid-template-rows:calc(var(--menu-height) *2 ) auto;
    }
    
    blockquote{
        width:75%;
        grid-template-columns:64px auto 64px;
    }
}


/* Desktop */
@media screen and (min-width:1024px){
    #homepage-title-film{
        grid-template-rows:var(--menu-height) auto;
    }

    blockquote{
        width:65%;
        grid-template-columns:64px auto 64px;
    }
}