body{
	background-color: hsl(326, 90%, 95%);
	font-family:sans-serif;
}
.img{
	top:10%;
	position:relative;
	border-radius: 5%;
}
.button{
	font-family:Sans-Serif;
	color:#e368c4;
}
i{
	color:#e368c4;
}
.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 8px;
    font-size: 15px;
    text-align: center;
    background: #e368c4;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 5px;
    cursor: pointer;
    color: #e368c4;
    user-select: none;
}
h4{
    top:5%;
	position: relative;
	font-family:Sans-Serif;
}
#prod1{
	text-align: center;
}
#prod1 .pro-container{
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
	flex-wrap:wrap;
}
#prod1 .pro1{
	width:23%;
	min-width:250px;
	padding: 18px 8px;
	border:1px solid #e368c4;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 25px;
	box-shadow: 20px 20px 30px rgba(0,0,0.0.02);
	margin:15px 0;
	transition: 0.2s ease;
}
#prod1 .pro1 .desc{
	text-align: center;
	padding: 10px 0;
	margin: 20;
	line-height: 5%;
}
#prod1 .pro1 .desc span{
	color: #606063;
	font-size:12px;
	text-align: center;
}
#prod1 #prod2 .pro1 .desc h5{
	padding-top: 7px;
	color: #070707;
	font-size:14px;
	text-align: center;
}
#prod1 .pro1:hover{
	box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}