#checkout-cart-container{
    width:33vw;
    min-width:500px;
    border:1px solid var(--main-color);
    border-radius:3px;
    padding:0.5em;
}

.checkout-cart-detail{
    display:grid;
    grid-template-columns:auto 4em;
}
.checkout-cart-major-label,.checkout-cart-major-value{
    font-weight:550;
}
#checkout-cart-items{
    padding:0.25em 0;
}
.checkout-cart-minor-label{
    padding-left:1em;
}
#total{
    font-weight:700;
}

#cart-payment-container{
    transform-origin: top center;
}
#cart-payment-container.onSuccess{
    height:0;
    opacity:0;
    transform:scale(0%);
}

@keyframes fade-in {
    0%{
        opacity:0;
        transform:scale(0%);
    }
    100%{
        opacity:1;
        transform:scale(100%);
    }
}
@keyframes fade-out {
    0%{
        opacity:1;
        transform:scale(100%);
    }
    100%{
        opacity:0;
        transform:scale(0%);
        height:0;
        overflow:hidden;
    }
}

#successful-payment-container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr;
    row-gap:12px;

    height:0;
    opacity:0;
    transform:scale(0%);
    transition:0.25s all;
}
#successful-payment-container.onSuccess{
    height:111vh;
    opacity:1;
    transform:scale(100%);
}
#successful-payment-header{
    display:flex;
    align-items:end;
    justify-content:center;
    column-gap:8px;
    width:100%;
}
#successful-payment-icon{
    aspect-ratio:1;
    background-image:url("../ICSS/Images/UI Icons/check-mark.png");
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    height:72px;
}
#successful-payment-header>h3{
    font-size:64px;
    font-weight:350;
}
#successful-payment-subtitle{
    font-size:24px;
    display:block;
    text-align:center;
}

/* Phone */
/* 320px is the minimum width that needs to be supported */
@media screen and (max-width:480px){

}

/* Tablet */
@media screen and (min-width:480px) and (max-width:1024px){

}

/* Desktop */
@media screen and (min-width:1024px){
    #fieldset-card-info{
        display:grid;
        grid-template-columns:8fr 2fr 4fr;
        /* grid-template-areas:
            "street-adress street-adress street-adress"; */
    }
}